/* recipes-styles.css */

body {
    background-color: #d8dee9;
}

.main-container {
    background-color: #eceff4;
    margin: 3em auto;
    max-width: 25%;
    padding: 5em 10em 1em;
    font-family: Helvetica, Verdana, sans-serif;
    border-radius: 8px;
    box-shadow: rgba(184, 194, 215, 0.25) 0px 6px 8px;
}

.subsection-container {
    margin-bottom: 2em;
}

.main-container .header {
    font-family: "Courier New", Monaco, Monospace;
    font-weight: bold;
}

.title {
    font-size: 36px;
}

.section-title {
    font-size: 26px;
}

.title-image {
    height: auto;
    width: 85%;
}
